body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
.wrapper{
   width: 1200px;
   margin: 0 auto;
}
.clear {
   clear: both;
}
#phone {
  background-color: #0c031f;
   font-size: 12px;
   padding: 8px 0px;
   color: #e4dfcf;
   padding: 8px 0px;
   text-align: right;
}
header {
   padding: 10px;
   background-color: #555e8e;
   border-radius: 9px;
   box-shadow: 8px 8px 30px 8px black;
}
  h1{
      margin: 0;
      float: left;
      font-weight: normal;
  }
  nav{
      float: right;
  }
  li {
      float: left;
      margin-left: 20px;
      margin-right: 11px;
      font-weight: bold;
      font-size: 14px;
      list-style-type: none;
  }
  #left {
      float: left;
      width: 680px;
  }
  #left h1 {
      float: none;
  }
  img {
      float: right;
      width: 500px;
      height: 300px;
      padding: 10px;
      background-color: none;
      border: 1px solid #050114s;

  }
  .class{
      clear: both;
  }
  #mainb {
      padding: 50px;
  }
  p {
      font-size: 20px;
      line-height: 35px;
      color: #050114;
  }
  a {
      text-decoration: none;
  }
  #good {
      margin-top: 70px;
  }
  #middle {
   background-color: #555e8e;
      padding: 20px 0;

  }
  .col {
      float: left;
      width: 390px;
      height: 500px;
      margin-right: 8px;
  }
  h2 {
      font-size: 28px;
      font-weight: normal;
      color: #050114;
  }
  footer{
   background-color: #0c031f;;
      font-size: 12px;
      font-weight: normal;
      color: #e4dfcf;
      padding: 16px;
  }
  .bby {
      float: right;
      color: #e4dfcf;
  }
  p ::first-letter {
      font-size: 40px;
  }
  .briggs{
      border: 2px solid #050114s;
  }